* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
font-size: 16px;


}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-position: 0 1000px;
    


}
header {
    text-decoration: none;
    color: navy;
    font-style: italic;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}
header nav ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    
} 
header nav ul li a {
    padding: 10px 15px;
}  
.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20 20;

}

.intro h2 {
    font-size: 40px;
    font-style: italic;
    color: navy;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;

}
.image {
    width: 800px;
    

    clip-path: circle(220px);
}
p { 
    color: navy;
    font-style: italic;
    font-size: 20px;
    text-align: right;
    padding: 20px 80px 20px 15px;

}

.nav {
    display: inline-block;
}
.office {
    display: flex;
    width: 400px;
    clip-path: circle(200px);
    margin-left: 10px;
    height: 450px;
    padding: 0;
    
}
.btn {
    display: inline-block;
    padding: 10px 10px;
    color: navy;
    background-color: grey;
    border-radius: 10px;
    text-decoration: none;
}

.work h2 {
   font-size: 50px;
   padding-top: 30px;
   font-style: italic;
   color: navy;
   letter-spacing: 2px;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.text p {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
}
.work > p {
    flex-basis: 20%;
}
